certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
idna==2.10
praw==7.3.0
prawcore==2.2.0
psaw==0.1.0
python-dateutil==2.8.1
requests==2.25.1
six==1.16.0
update-checker==0.18.0
urllib3==1.26.6
websocket-client==1.1.0
